.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5e11d60d1bd80 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5e11d60d1bd80 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5e11d60d1bd80 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5e11d57e004fb .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5e11d57e004fb .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5e11d57e004fb .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5e12125f25d7b .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5e12125f25d7b .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5e12125f25d7b .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e11d60d6a1ff {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e11d57e5e312 {width: 33.33%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e11d57e5e316 {width: 66.66%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e11d5c84fcf3 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e12125f263c9 {width: 46.41%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e12125f263cb {width: 53.59%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e12137814556 {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e1213781455a {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e1213781455c {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e1213781455e {width: 25%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}