.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5e11c8d0dc099 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5e11c8d0dc099 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5e11c8d0dc099 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5e1734dc679fd .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5e1734dc679fd .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5e1734dc679fd .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5e1210b79bc24 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5e1210b79bc24 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5e1210b79bc24 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5e11c8ddb797b .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5e11c8ddb797b .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5e11c8ddb797b .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e11c8d1db80c {width: 33.33%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e11c8d1db817 {width: 66.66%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e1734dc893cd {width: 42.6%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e1734dc893d2 {width: 57.4%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e1210b89ba75 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e11c8df12ea3 {width: 66.66%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e11c8df12ea9 {width: 33.33%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}