.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5ebbbf4ae4cd1 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5ebbbf4ae4cd1 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5ebbbf4ae4cd1 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5f3406835b1a4 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5f3406835b1a4 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5f3406835b1a4 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5f3406a72dcdf .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5f3406a72dcdf .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5f3406a72dcdf .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5eabf9b30ddde .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5eabf9b30ddde .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5eabf9b30ddde .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5e7e312f1b725 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5e7e312f1b725 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5e7e312f1b725 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5e7e333ce65e1 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5e7e333ce65e1 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5e7e333ce65e1 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e7e333ce65e1 > .fl-row-content-wrap {margin-top: 0px;}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5e89d8536a210 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5e89d8536a210 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5e89d8536a210 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_right"], .fl-builder-row-settings .fl-field-responsive-setting input[name="bg_position_custom_left"] {display: none !important;}
.fl-node-5e9097b54f09d .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5e9097b54f09d .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5e9097b54f09d .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5ebbbf4b0c612 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3406835b2ff {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3406a72decf {width: 33.33%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5f3406a72ded7 {width: 66.66%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5eabf9b30df46 {width: 33.33%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5eabf9b30df48 {width: 66.66%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e7e312f1b7c4 {width: 100%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e7e333ce6708 {width: 33.33%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e7e333ce670a {width: 66.66%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e89d8536a352 {width: 33.33%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e89d8536a355 {width: 66.66%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e9097b54f230 {width: 33.33%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5e9097b54f232 {width: 66.66%;}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
.fl-node-5ebbbf4ae3e09 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5f3406835b300 > .fl-module-content {margin-bottom: 0px;}
.fl-node-5eabf9b30df49 > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5eabf9b30df4a > .fl-module-content {margin-top: 0px;margin-bottom: 0px;}
.fl-node-5e7e312f1b7c5 > .fl-module-content {margin-bottom: 0px;}